{% load mix %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="Yunior Espinal">

  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/favicon.png' %}">

  <title>{% block title %}{% endblock %} | Empire Real Estate</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">

  <!-- Styles -->
  <link rel="stylesheet" href="{% mix 'css/app.css' 'static' %}">

  <!-- Scripts -->
  <script src="{% mix 'js/app.js' 'static' %}" defer></script>
</head>
<body>
<header>
  {% include 'includes/header.html' %}
</header>

<main>
  {% block content %}{% endblock %}
</main>

<footer>
  {% include 'includes/footer.html' %}
</footer>
</body>
</html>
