a:link,
a:visited {
  color: #1a1a1a;
}

#header {
  height: 48px;
  background: #1a1a1a !important;
  color: #FFF;
}

.admin_area {
  font-size: 1.1rem;
  color: #FFF;
  margin-left: 12px;
}

div.breadcrumbs {
  background: #343a40;
}

.module h2, .module caption, .inline-group h2 {
  background: #343a40;
}

