.submit-row a.deletelink {
  background: #e53e3e !important;
  border-radius: 0px !important;
}

.submit-row a.deletelink:focus,
.submit-row a.deletelink:hover,
.submit-row a.deletelink:active {
    background: #c53030 !important;
}
